body {
  font-size: 16px;
  letter-spacing: 2px;
  background-image: url("https://source.unsplash.com/random/?travel");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.done {
  text-decoration: line-through;
  color: #ccc;
}

.container {
  width: 500px;
  margin: auto;
  border: 1px solid #ccc;
  padding: 5px 30px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #cccc;
  background-color: white;
  opacity: 0.9
}

.container h1 {
  font-size:35px;
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
  letter-spacing:3px;
  font-family: 'Economica', sans-serif;
  color: #333333;
}

.container ul {
  padding: 0;
  list-style: none;
}

.container li {
  line-height: 2;
  font-size: 18px;
  color: #333333;
}

.container input[type="checkbox"] {
  margin-right: 5px;
}

.cmd {
  font-size: 12px;
  cursor: pointer;
  color: #08c;
  margin-left: 5px;
}

h1 > span {
  color: #ccc;
  font-size: 20px;
  font-weight: normal;
  margin-left: 5px;
}

.container input[type="text"] {
  padding: 2px;
  margin-right: 5px;
  width:90%;
}

h1 > button {
  float: right;
  margin-top: 10px;
}

button {
  border-radius: 5px;
}